# Block local flake compilation results paths
result
result-*

# Block Home Manager's generated style overrides during local testing
theme.json
theme.lua
.config/

# Standard Python compilation caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
env/

